<div class="header">

  <div class="header__title">KILID</div>

  <div class="search">
    <div class="container">

      <div class="d-flex" *ngIf="searchStatus === PageStatus.resolved">

        <div class="search__item">
          <input type="text" class="form-control form-control--sm"
                 [value]="Labels.FiltersSubType[filterResponse.filters.subType]">
        </div>

        <div class="search__item search__item--lg">
          <input type="text" class="form-control form-control--sm"
                 [value]="filterResponse.filters.locations[0].nameFa">
        </div>

        <div class="search__item"
             ngbDropdown>
          <div class="fake-input"
               id="dropdownBasic1" ngbDropdownToggle>
            {{Labels.General.propertyType}}
          </div>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="p-0">

            <div class="p-2 d-flex flex-wrap w-100">

              <div class="custom-pill"
                   [class.custom-pill--active]="isPropertySelected('prpApartmentTower')"
                   (click)="togglePropertyType('prpApartmentTower')">
                {{Labels.PropertyType['prpApartmentTower']}}
              </div>

              <div class="custom-pill"
                   [class.custom-pill--active]="isPropertySelected('prpVillaGarden')"
                   (click)="togglePropertyType('prpVillaGarden')">
                {{Labels.PropertyType['prpVillaGarden']}}
              </div>

              <div class="custom-pill"
                   [class.custom-pill--active]="isPropertySelected('prpOffice')"
                   (click)="togglePropertyType('prpOffice')">
                {{Labels.PropertyType['prpOffice']}}
              </div>

            </div>

            <div class="p-2 shadow-sm border-top">
              <button class="btn btn-sm rounded-pill btn-primary px-4"
                      (click)="getDataList()">
                {{Labels.Buttons.accept}}
              </button>
            </div>

          </div>

        </div>


      </div>

    </div>
  </div>

</div>

<div class="d-flex justify-content-end container my-3">
  <p>{{pageDescription}}</p>
</div>

<div class="container">
  <app-loader *ngIf="listStatus === PageStatus.loading"></app-loader>

  <div class="row" *ngIf="listStatus === PageStatus.resolved"
       infiniteScroll
       [infiniteScrollDistance]="2"
       [infiniteScrollUpDistance]="1.5"
       [infiniteScrollThrottle]="150"
       (scrolled)="onScroll()">

    <ng-container *ngFor="let item of listData">
      <div class="col-lg-4">

        <div class="card card-ad">

          <div class="card-img-top card-ad__img">
            <img class="img-fluid w-100"
                 [src]="item['image'] && item['image'].url" alt="">
          </div>

          <div class="card-body card-ad__body">
            <p>
              <span>{{item.title}}</span>
            </p>
            <p>
              <span>{{item.price ? (item.price | number) : Labels.General.adaptive}}</span>
            </p>
          </div>

        </div>


      </div>
    </ng-container>

  </div>
</div>
