<div class="header">

  <div class="header__title">KILID</div>

  <div class="search">
    <div class="container">

      <div class="d-flex">

        <div class="search__item">
          <input type="text" class="form-control form-control--sm"
                 [value]="Labels.FiltersSubType[filterResponse.filters.subType]">
        </div>

        <div class="search__item search__item--lg">
          <input type="text" class="form-control form-control--sm"
                 [value]="Labels.FiltersSubType[filterResponse.filters.subType]">
        </div>

        <div class="search__item"
             ngbDropdown>
          <div class="fake-input"
               id="dropdownBasic1" ngbDropdownToggle>
            {{Labels.General.propertyType}}
          </div>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            TODO: type of property
          </div>

        </div>


      </div>

    </div>
  </div>

</div>

<div class="d-flex justify-content-end container my-3">
  <p>{{pageDescription}}</p>
</div>

<div class="container">

  <app-loader></app-loader>

  <div class="row"></div>
</div>
