@import "~bootstrap/scss/functions";
@import "customVariables";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/bootstrap";

.header {
  display: block;
  width: 100%;
  @extend .bg-light;
  @extend .rounded;
  @extend .shadow-sm;
  padding: $spacer * .5;

  &__search {
    @extend .container;
  }
}
